<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <title>Não conformidade</title>
</head>
<body align="left">
    <a><strong>Prezado(a),</strong></a>
    <strong><a>O cliente <b>NomeCliente</b> de cnpj: CnpjCliente, abriu um registro de não conformidade em seu pedido:</a></strong><br />
    <table cellpadding="0" cellspacing="0" width="800" border="1">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" width="200" align="left" border="1">
                    <tr>
                        <td align="center" valign="top"><strong>Nota Fiscal</strong></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="200" align="left" border="1">
                    <tr>
                        <td align="center" valign="top"><strong>Lote</strong></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="199" align="left" border="1">
                    <tr>
                        <td align="center" valign="top"><strong>Quantidade</strong></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="199" align="left" border="1">
                    <tr>
                        <td align="center" valign="top"><strong>Item</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" width="200" align="left" border="1">
                    <tr>
                        <td align="center" valign="top">NF</td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="200" align="left" border="1">
                    <tr>
                        <td align="center" valign="top">Lotes</td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="199" align="left" border="1">
                    <tr>
                        <td align="center" valign="top">Qtd</td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="199" align="left" border="1">
                    <tr>
                        <td align="center" valign="top">Items</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <a align="center"><strong>Descrição: Descricao</strong></a>
</body>
</html>