@model Bomix_Force.ViewModels.OrderViewModel

<div class="modal fade" id="duplicateModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title float-left text-white">Detalhes</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>@Model.Item[0].Arte</h2>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="duplicate(@Model.Pedido)" class="btn btn-primary btn-lg fas fa-copy float-right">Duplicar</button>
                <button data-dismiss="modal" class="btn btn-danger btn-lg float-right">Cancelar</button>
            </div>
        </div>

    </div>


</div>
<script>
    function duplicate(Pedido) {
        $.ajax({
            url: 'Duplicate',
            data: {
                Pedido: Pedido
            },
            method: 'Post',
            dataType: 'json',
        })
    }

</script>
