@model List<Bomix_Force.ViewModels.OrderViewModel>

<div class="modal fade" id="duplicateModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title float-left text-white">Duplicar Pedido</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5 class="text-center"><strong>Numero do Pedido: @Model[0].Pedido</strong></h5>
                <div class="table-responsive mt-2 scroll">
                    <table id="#tableOrder" class="table table-striped">
                        <thead class="thead-light">

                            <tr>
                                <th class="text-center">
                                    Produto
                                </th>
                                <th class="text-center">
                                    Quantidade
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <label id="pedido" style="display:none">@Model[0].Pedido</label>
                                <tr>
                                    @if (item.Produto != "")
                                    {
                                        <th class="text-center ">
                                            @item.Produto
                                        </th>

                                    }
                                    else
                                    {
                                        <th class="text-center ">
                                            -
                                        </th>
                                    }
                                    @if (item.Quantidade != 0)
                                    {
                                        <th class="text-center ">
                                            @item.Quantidade
                                        </th>

                                    }
                                    else
                                    {
                                        <th class="text-center ">
                                            -
                                        </th>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                <button type="button" onclick="duplicate()" class="btn btn-primary btn-lg fas fa-copy float-right">  Duplicar</button>
            </div>

        </div>

    </div>


</div>
<script>
    function duplicate() {
        var Pedido = document.getElementById("pedido").innerText
        console.log(Pedido)
        Swal.fire({
          title: 'Deseja duplicar pedido?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Sim',
          cancelButtonText: 'Não'
        }).then((result) => {
            if (result.value) {
                var pedidos = Pedido.toString();
                //Pedidos = "0".concat(Pedido)
                $('#duplicateModal').modal('hide');
                document.getElementById('loadingSpinnerOverlay').style.display = 'block'
                $.ajax({
                    url: 'Duplicate',
                    data: {
                        Pedido: Pedido
                    },
                    complete: function (e, xhr, settings) {
                        document.getElementById('loadingSpinnerOverlay').style.display = 'none'
                        if (e.status === 200) {
                            toastr.success("Requisição para repetir o pedido enviada com sucesso", "Pedido");
                        } else {
                            toastr.error("Ocorreu uma falha na duplicação do pedido", "Pedido");
                        }
                    },
                    method: 'Post',
                    dataType: 'json',
                })
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            Swal.fire(
              'Cancelado',
              'Ação cancelada',
              'error'
            )
          }
        })

    }

</script>
<style>
    .scroll {
/*        overflow-y: scroll;*/
        /*height: 400px;*/
    }
</style>