@model Bomix_Force.ViewModels.UserViewEdit


<div class="modal fade" id="EditUserModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title float-left text-white">Editar</h4>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="Edit" method="post">
                    <div class="row">
                        <div class="col-6">
                            <input id="editId" type="hidden" asp-for="@Model.Id">
                            <input id="editCompanyId" type="hidden" asp-for="@Model.CompanyId">
                            <input id="editUserID" type="hidden" asp-for="@Model.UserID">
                            <label asp-for="Name"></label>
                            <input id="editName" onchange="changeEditName(this.value)" asp-for="Name" class="form-control" />
                            <span id="editNameSpan" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="Email"></label>
                            <input id="editEmail" onchange="changeEditEmail(this.value)" asp-for="Email" class="form-control" />
                            <span id="editEmailSpan" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-6">
                            <label asp-for="Cargo"></label>

                            <select onchange="changeEditCargo(this.value)" asp-for="Cargo" id="editselectCargo" class="form-control" name="selectCargo">
                                <option value="Propriétario">Propriétario</option>
                                <option value="Diretor">Diretor</option>
                                <option value="Gerente">Gerente</option>
                                <option value="Coordenador">Coordenador</option>
                                <option value="Supervisor">Supervisor</option>
                                <option value="Analista">Analista</option>
                                <option value="Assistente/Secretária">Assistente/Secretária</option>
                                <option value="Genérico Industrial">Genérico Industrial</option>
                                <option value="Genérico ADM">Genérico ADM</option>
                            </select>
                            <span id="editCargoSpan" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="Setor"></label>
                            <select onchange="changeEditSetor(this.value)" asp-for="Setor" id="editselectSetor" class="form-control" name="selectSetor">
                                <option value="Comercial">Comercial</option>
                                <option value="PCP/S$OP">PCP/S$OP</option>
                                <option value="Qualidade">Qualidade</option>
                                <option value="Compras">Compras</option>
                                <option value="Suprimentos">Suprimentos</option>
                                <option value="Genérico Industrial">Genérico Industrial</option>
                                <option value="Genérico ADM">Genérico ADM</option>
                                <option value="Produção">Produção</option>
                                <option value="Financeiro">Financeiro</option>
                                <option value="Logística">Logística</option>
                                <option value="Marketing">Marketing</option>
                            </select>
                            <span id="editSetorSpan" asp-validation-for="Setor" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="editvalidate()" class="btn btn-primary float-right">Editar</button>
                </form>
            </div>
        </div>

    </div>


</div>

<script>
    var editName = ''
    var editCargo = ''
    var editSetor = ''
    var editEmail = ''

    $(document).ready(function () {
        editName = document.getElementById('editName').value
        editCargo = document.getElementById('editselectCargo').value
        editSetor = document.getElementById('editselectSetor').value
        editEmail = document.getElementById('editEmail').value


    })
    function changeEditName(value) {
        editName = value;
    }
    function changeEditSetor(value) {
        editSetor = value;
    }
    function changeEditCargo(value) {
        editCargo = value;
    }
    function changeEditEmail(value) {
        editEmail = value;
    }
    function editvalidate() {
        var validateName = this.validateName(editName)
        var validateEmail = this.validateEmail(editEmail)
        var validateSetor = this.validateSetor(editSetor)
        var validateCargo = this.validateCargo(editCargo)
        var validation = validateName && validateEmail && validateSetor && validateCargo
        if (validation) {
            token = $('form').serializeArray()[0].value;

            $('#EditUserModal').modal('hide');
            $.ajax({
                url: 'Edit',
                data: {
                    __RequestVerificationToken: token,
                    UserID: document.getElementById('editUserID').value,
                    CompanyiD: document.getElementById('editCompanyId').value,
                    Id: document.getElementById('editId').value,
                    Name: editName,
                    Setor: editSetor,
                    Cargo: editCargo,
                    Email: editEmail,
                },
                method: 'Post',
                dataType: 'json',
            })

        }

    }
    function validateName(editName) {
        if (!editName) {
            document.getElementById('editNameSpan').innerHTML = 'Campo Obrigatório';
            document.getElementById('editNameSpan').style.display = '';
            return false
        }
        else {
            document.getElementById('editNameSpan').style.display = 'none';
            return true
        }
    }
    function validateEmail(editEmail) {
        var re = /\S+@@\S+\.\S+/;
        var formatEmail = re.test(editEmail);
        if (!editEmail) {
            document.getElementById('editEmailSpan').innerHTML = 'Campo Obrigatório';
            document.getElementById('editEmailSpan').style.display = '';
            return false
        }
        else if (!formatEmail) {
            document.getElementById('editEmailSpan').innerHTML = 'Insira um email válido';
            document.getElementById('editEmailSpan').style.display = '';
            return false
        }
        else {
            document.getElementById('editEmailSpan').style.display = 'none';
            return true
        }
    }
    function validateSetor(editSetor) {
        if (!editSetor) {
            document.getElementById('editSetorSpan').innerHTML = 'Selecione um Setor';
            document.getElementById('editSetorSpan').style.display = '';
            return false
        }
        else {
            document.getElementById('editSetorSpan').style.display = 'none';
            return true
        }
    }
    function validateCargo(editCargo) {
        if (!editCargo) {
            document.getElementById('editCargoSpan').innerHTML = 'Selecione um Cargo';
            document.getElementById('editCargoSpan').style.display = '';
            return false
        }
        else {
            document.getElementById('editCargoSpan').style.display = 'none';
            return true
        }
    }

</script>