@using X.PagedList.Mvc.Core

<div class="container ">
    <div class="clearfix mx-5">
        <div >
            <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-danger font-project mt-3" style="color: white; background-color: #D52229;">Voltar</a>
            @*<a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
        <a class="pagina-atual">Contato</a>*@
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="card-white">
                    <div class="card-body">
                        <p class="title-card-white">BOMIX BAHIA</p>
                        <p class="info-card-white" style="font-weight:700">Fábrica</p>
                        <p class="info-card-white">Via das Torres, CIA Sul, 162</p>
                        <p class="info-card-white">CEP: 43.700-000</p>
                        <p class="info-card-white">Simões Filho - BA</p>
                        <p class="info-card-white">Tel./Fax: +55(71)3215-8600</p>
                        <p class="info-card-white">bomix@bomix.com.br</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt-3">
                <div class="card-white">
                    <div class="card-body">
                        <p class="title-card-white">BOMIXLOG</p>
                        <p class="info-card-white" style="font-weight:700">Transportadora</p>
                        <p class="info-card-white">Tel.: 0800 071 2901</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
