@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperação de senha confirmada";
}

<h1 class="font-project text-center">@ViewData["Title"]</h1>
<p class="font-project text-center">
    Um e-mail para redefinição da sua senha foi enviado o endereço informado.
</p>

