@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a senha?";
}


<h4 class="text-center mt-5 font-project">Esqueceu sua senha?</h4>
<p class="text-center font-project">Informe seu e-mail abaixo para receber um link para a mundança de sua senha.</p>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName" class="font-project"></label>
                <input asp-for="Input.UserName" class="form-control font-project input" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary float-right font-project" style="color: white; background-color: #002A51;">Enviar</button>
            <a asp-area="Identity" asp-page="/Account/Login"  class="btn btn-danger float-left font-project" style="color: white; background-color: #D52229;">Cancelar</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
