@page
@model LoginModel

@{
ViewData["Title"] = "Log in";
}

<!-- <h1>@ViewData["Title"]</h1> -->
<body class="">
    <div class="login-container">
        <img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 1%; " src="~/Assets/logo-bomix-header.png" />
        <div class="login-box">
            <div class="login-form">
                <form id="account" method="post">
                    <div class="login-center-button">
                        <div class="login-inputs">
                            @Html.ValidationMessage("loginError", "", new { @class = "text-danger" })
                            <label class="login-label" for="exampleInputEmail1">Usuário</label>
                            <input asp-for="Input.UserName" placeholder="Usuario" class="input" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            <label class="login-label mt-1" for="exampleInputPassword1">Senha</label>
                            <input asp-for="Input.Password" placeholder="Senha" class="input" />
                            <span asp-validation-for="Input.Password" class="text-danger mb-2"></span>
                        </div>
                        <button type="submit" class="bt-save">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <footer class="mastfoot mt-auto">
        <div class="inner">
    Email de contato: teste@teste.com
        </div>
      </footer> -->
</body>
<!-- <div class="row d-flex">
    <div class="col-6">
    </div>
    <div class="col-4 px-5 mt-5 justify-self-center">
        <section>
            <form id="account" method="post">
                <h4>Login</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group py-3">
                    <input asp-for="Input.UserName" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group py-3">
                    <input asp-for="Input.Password" placeholder="Senha" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group float-right">
                    <button type="submit" class="btn btn-primary btn-lg">Logar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Novo registro</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div> -->
<style lang="scss" scoped>
    html,
    body {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        color: #F7F8FC;
        height: 100%;
    }
</style>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

