@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!-- <h1>@ViewData["Title"]</h1> -->
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section>
            <figure>
                <img src="Views/Assets/LoginBomix.png" alt="Bomix" class="img-fluid">
            </figure>
        </section>
    </div>
    <div class="col-md-4 mt-5" >
        <section>
            <form  id="account" method="post">
                <h4>Login</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group py-3">
                    <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group py-3">
                    <input asp-for="Input.Password" placeholder="Senha" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group float-right">
                    <button type="submit" class="btn btn-outline-primary btn-lg">Logar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Novo registro</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
