@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Alteração de senha confirmada";
}

<h1 class="font-project text-center">@ViewData["Title"]</h1>
<p class="font-project text-center">
    Sua senha foi alterada com sucesso. Para realizar o login <a asp-page="./Login">clique aqui</a>.
</p>