@model Bomix_Force.ViewModels.NonconformityViewModel

@{
    ViewData["Title"] = "Create";

    <div style="display:none" id="loadingSpinnerOverlay">
        <div class="spinner" id="spinner"></div>
        <div class="overlay" id="overlay"></div>
    </div>
}
<div class="container createNonconf">
    <div class="pagination-history">
        <a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
        <a asp-action="Index" class="pagina-anterior">Não Conformidade /</a>
        <a class="pagina-atual">Registar não Conformidade</a>
    </div>
    <h3 class="text-center title-font">Registro de não conformidade</h3>

    <hr />
    <div class="row justify-content-md-center">
        <div class="align-content-center col-md-6">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Lote" class="control-label font-project"></label>
                    <input asp-for="Lote" class="form-control input font-project" />
                    <span asp-validation-for="Lote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label font-project">Nota Fiscal</label>
                    <input asp-for="Nf" class="form-control input font-project" />
                    <span asp-validation-for="Nf" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label font-project">Quantidade</label>
                    <input asp-for="Quantity" class="form-control input font-project" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label font-project">Item</label>
                    <select asp-for="SelectedItem" class="form-control input font-project">
                        @foreach (var item in Model.Itens)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div>
                    <svg href="#" onmouseover="mostrarElemento('prodImagem', 'inline');" onmouseout="mostrarElemento('prodImagem', 'none');" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="float:right">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                    <div id="prodImagem" style="width: 50px; height: 50px; display: none; position: absolute; padding: 5px; margin-left:35%">
                        <img src="~/Assets/Etiqueta.png" />
                    </div>
                    <br />
                </div>
                <div class="text-center">
                    <label class="control-label font-project">Para que possamos te atender melhor insira fotos da não conformidade e da etiqueta do produto.</label>
                </div>
                <div class="image-upload text-center">
                    <label for="FilePath">
                        <img style="width: 60px; height: 60px; cursor: pointer;" src="~/Assets/ic_upload.png" />
                    </label>
                    <input type="file" id="FilePath" name="FilePath" multiple accept=".jpg, .jpeg, .png" />
                    <div id="preview">
                        <p>Nenhum arquivo selecionado.</p>
                    </div>
                </div>
                <div style="margin-top:15px">
                    <output name="result"></output>
                </div>

                <div class="form-group">
                    <label class="control-label font-project">Descrição</label>
                    <textarea asp-for="Description" placeholder="Descreva o problema encontrado." class="form-control input font-project" rows="4"></textarea>

                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group float-right">
                    <input type="submit" onclick="startOverlay()" value="Enviar" class="btn btn-primary font-project" style="color: white; background-color: #002A51;" />
                </div>
                <a asp-action="Index" class="btn btn-danger float-left font-project " style="color: white; background-color: #D52229;">Voltar</a>
            </form>
        </div>
    </div>
    <ol></ol>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function startOverlay() {
        document.getElementById('loadingSpinnerOverlay').style.display = 'block';
    }

    function mostrarElemento(id, visibilidade) {
        document.getElementById(id).style.display = visibilidade;
    }

    const input = document.getElementById('FilePath');
    const preview = document.getElementById('preview');

    input.style.opacity = 0;
    input.addEventListener('change', updateImageDisplay);
    const list = document.createElement('ol');
    list.style = 'list-style: none;';
    function updateImageDisplay() {
        while (preview.firstChild) {
            preview.removeChild(preview.firstChild);
        }

        const curFiles = input.files;
        if (curFiles.length === 0) {
            const para = document.createElement('p');
            para.textContent = 'Nenhum arquivo selecionado.';
            preview.appendChild(para);
        } else {
            preview.appendChild(list);

            for (const file of curFiles) {
                const listItem = document.createElement('li');
                const para = document.createElement('p');
                if (validFileType(file)) {
                    para.textContent = `Arquivo ${file.name}`;
                    const image = document.createElement('img');
                    image.src = URL.createObjectURL(file);
                    image.width = 300;
                    image.height = 150;
                    listItem.appendChild(image);
                    listItem.appendChild(para);
                } else {
                    para.textContent = `O arquivo ${file.name} não é de um tipo válido. Por favor selecione outro arquivo.`;
                    listItem.appendChild(para);
                }

                list.appendChild(listItem);
            }
        }
    }

    const fileTypes = [
        "image/apng",
        "image/bmp",
        "image/jpg",
        "image/jpeg",
        "image/pjpeg",
        "image/png",
    ];

    function validFileType(file) {
        return fileTypes.includes(file.type);
    }

</script>