@model IEnumerable<Bomix_Force.ViewModels.NonconformityViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="mr-5 ml-5">
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-danger font-project mt-3" style="color: white; background-color: #D52229;">Voltar</a>
        @*<a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
            <a class="pagina-atual">Não Conformidade</a>*@
    </div>
    @if (!User.IsInRole("Employee"))
    {
        <p>
            <a class="float-right mb-2 mr-3" type="button" asp-action="Create"><img class="ic-size" src="~/Assets/ic_add_non_conf.png" /></a>
        </p>
    }
    @using (Html.BeginForm())
    {
        <form id="typeSearch" asp-controller="Nonconformity" asp-action="Index">
            <div class="row ">
                <div class="form-group">
                    <label for="example-date-input" class="col-2 col-form-label">Busca</label>
                    <div class="search ml-3 mr-2 ">
                        <input type="image" alt="Submit" src="~/Assets/ic_search.png" style="margin-left: 3px;" />
                        @Html.TextBox("searchString", null, new { placeholder = "Pesquisar", @class = "input-search" })
                    </div>
                </div>
                <div class="form-group mt-2 ml-2">
                    <label for="example-date-input" class="col-2 col-form-label"></label>
                    <div class="mt-1">
                        <button class="btn btn-primary mr-4 font-project" type="submit" style="color: white; background-color: #002A51;">Buscar</button>
                    </div>
                </div>
            </div>

        </form>

    }
    <div class="table-responsive mt-5">
        <table id="nonConformityTable" class="table table-striped">
            <thead>
                <tr class="bg-dark">
                    <th class="text-center text-white">
                        Lote
                    </th>
                    <th class="text-center text-white">
                        Descrição
                    </th>
                    <th class="text-center text-white">
                        NF
                    </th>
                    <th class="text-center text-white">
                        Status
                    </th>
                    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        <th class="text-center text-white">
                            Upload
                        </th>
                        <th class="text-center text-white">
                            Download
                        </th>
                    }
                    @if (User.IsInRole("User") || User.IsInRole("Company"))
                    {
                        <th class="text-center text-white">
                            Ações
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">


      $(document).ready(function () {

        $("#loadingdiv").hide();
        var filter = '@(ViewBag.filter)'
        var searchString = '@(ViewBag.searchString)'
        var dataexist = true
        var modelLenght = '@(Model?.Count())'
        modelLenght = modelLenght ? modelLenght : 0
        var inProgress = false
        currentPageNumber = 0;
            loadData(currentPageNumber)
        $(window).scroll(function () {

                if ($(window).scrollTop() + $(window).height() > $(document).height() - 20 && !inProgress && dataexist) {
                    inProgress = true;
                    currentPageNumber += 1;
                    loadData(currentPageNumber);
                $("#loadingdiv").show();
                }
            }
            )
        function loadData(currentPage) {
                if (currentPageNumber * 20 >modelLenght && currentPageNumber != 0) {
                    dataexist=false
            }
            searchString = removeAcento(searchString);
            $.ajax({
                url: 'InfiniteScroll',
                data: {
                    pageNumber: currentPage, pageSize: 10, searchString: searchString
                },
                method: 'Post',
                dataType: 'html',
                success: function (data) {
                    var documenttable = $('#nonConformityTable');
                        documenttable.append(data)
                    inProgress = false;
                    $("#loadingdiv").hide();
                    }
                })
        }
      })


    function removeAcento(text) {
        text = text.toLowerCase();
        text = text.replace(new RegExp('[ÁÀÂÃ]', 'gi'), 'a');
        text = text.replace(new RegExp('[ÉÈÊ]', 'gi'), 'e');
        text = text.replace(new RegExp('[ÍÌÎ]', 'gi'), 'i');
        text = text.replace(new RegExp('[ÓÒÔÕ]', 'gi'), 'o');
        text = text.replace(new RegExp('[ÚÙÛ]', 'gi'), 'u');
        text = text.replace(new RegExp('&#xE1;', 'gi'), 'a');
        text = text.replace(new RegExp('&#xed;', 'gi'), 'i');
        return text;
    }

   
</script>

