@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



    @*<div class="row" style="margin-top:5%;">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>*@
<div class="mx-5">
    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-danger mt-3" style="color: white; background-color: #D52229;">Voltar</a>
</div>
    <div class="text-center">


        @RenderBody()
    </div>
    @*</div>*@

@section Scripts {
    @RenderSection("Scripts", required: false)
}
