@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div>
    <div class="row" style="margin-top:25px;">
        <div class="col-md-3">
            <partial name="_ManageNav" />
            <div class="options-account-container">
                <ul class="options">
                    <li class="options-label"><a>Perfil</a></li>
                    <li class="options-label"><a>Senha</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
