@page
@model IndexModel
@{
    ViewData["Title"] = "Conta do Usuário";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h5 class="title-user title-pass">@ViewData["Title"]</h5>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="change-pass-container">
    <div class="change-pass-box">
        <div class="change-pass-form">
            <h5>Perfil</h5>
            <form id="change-password-form" method="post">
                <div class="login-inputs">
                    <label>Usuário</label>
                    <input asp-for="Username" class="input" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                    <label>Telefone</label>
                    <input asp-for="Input.PhoneNumber" class="input" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    <label>Email</label>
                    <input asp-for="Input.Email" class="input" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="right-button">
                    <button type="submit" style="margin-right:0; margin-bottom:0; width:30%;" class="bt-save">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}