@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Conta do Usuário";
    //ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<div class="container">
    @*<h5 class="title-user title-pass">@ViewData["Title"]</h5>*@
    @*<partial name="_StatusMessage" for="StatusMessage" />*@
        <div class="change-pass-box">
            <div class="change-pass-form">
                <h5>Mudar senha</h5>
                <form id="change-password-form" method="post">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <label>@ViewData["emailConfirmed"]</label>
                    <p class=" text-center float-right mr-4 mt-4">
                        Requisitos da senha:
                        <br />
                        * Mínimo de 6 caracteres
                        <br />
                        * Um caracter especial
                        <br />
                        * Uma letra maiúscula
                        <br />
                        * Uma letra minuscula
                        <br />
                        * Um número
                    </p>
                    <div class="login-inputs">
                        <label>Senha atual</label>
                        <input asp-for="Input.OldPassword" class="input" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        <label asp-for="Input.NewPassword">Nova senha</label>
                        <input asp-for="Input.NewPassword" class="input" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        <label asp-for="Input.ConfirmPassword">Confirmar nova senha</label>
                        <input asp-for="Input.ConfirmPassword" class="input" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    </div>

                    <div class="text-center">
                        <button type="submit" style="margin-right:0; margin-bottom:0; width:30%;" class="bt-save">Atualizar senha</button>
                    </div>
                </form>
            </div>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style scoped>
    change-passa-box1{
     width: 40%;
    background: #FFFFFF;
    border: 0.2px solid #C4C4C4;
    border-radius: 6px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-block;
    -ms-flex-align: start;
    -webkit-align-items: start;
    -webkit-box-align: start;
    align-items: start;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;
    }
</style>