<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <title>Não conformidade</title>
</head>
<body align="left">
    <a><strong>Prezado(a),</strong></a>
    <strong><a>O cliente <b>NomeCliente</b> de cnpj: CnpjCliente, solicitou a duplicação do pedido: <b>Pedido</b> </a></strong><br />
    <table cellpadding="0" cellspacing="0" width="400" border="1">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" width="199" align="left" border="1">
                    <tr>
                        <td align="center" valign="top"><strong>Produto</strong></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="199" align="left" border="1">
                    <tr>
                        <td align="center" valign="top"><strong>Quantidade</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--replace-->
    </table>

    <img src="https://www.w3schools.com/images/picture.jpg" />
</body>
