@model IEnumerable<Bomix_Force.ViewModels.DocumentViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="pagination-history">

        <a asp-area="" asp-controller="Home" asp-action="Login" class="pagina-anterior">Home / </a>
        <a class="pagina-atual">Documentos</a>
    </div>
    <hr />
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Reference)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th class="text-center">
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @if (@Model?.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Reference)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Order)
                        </td>
                        <td class="text-center">
                            Download
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">
                        <h6>Nenhum documento foi encontrado.</h6>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
