@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row">
            <li class="nav-item form-inline ml-4">
                <div>
                    <a on class="nav-link text-dark text-uppercase" id="currentUserName" asp-area="Identity" asp-page="/Account/Manage/Index" title="Trocar Senha">@User.Identity.Name</a>

                    <a on class="nav-link text-dark" id="currentCompanyName" asp-area="Identity" asp-page="/Account/Manage/Index" title="Trocar Senha"></a>
                </div>
                <img src="~/Assets/divider.png" class="margin-img" />

            </li>
            <div class="dropdown open">
                <button class="btn btn-white dropdown-toggle"
                        type="button" id="dropdownMenu5" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    @if (User.IsInRole("Company"))
                    {
                        <img src="~/Assets/profile-circle-enterprise.png" />
                    }
                    else
                    {
                        <img src="~/Assets/profile-circle-person.png" />
                    }
                </button>
                <div class="dropdown-menu">
                    <form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-key"> Mudar Senha  </i></button>
                    </form>
                    <form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Login", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt"> Logout</i></button>
                    </form>

                </div>
            </div>
        </div>
    }
    else
    {
        <img src="https://conteudo.imguol.com.br/blogs/174/files/2018/05/iStock-648229868.jpg" alt="W3Schools.com" style="width:50px;height:50px;float:right;">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
    <script src="~/js/jquery-1.7.1.min.js"></script>
    <script>
    $(document).ready(function () {
         var url = window.location.href.split('/');
        var baseUrl = url[0] + '//' + url[2];
        console.log(baseUrl)
        $.ajax({
            url: baseUrl+'/User/getUserName',
            method: 'Get',
            success: function (data) {
                data=JSON.parse(data)
                document.getElementById('currentUserName').innerText = data.person
                if (data.company) {
                    document.getElementById('currentCompanyName').innerText = data.company
                }
            }
        })
    })
    </script>
